__pycache__
.DS_Store
.opencode/
.sisyphus/
.turbo/
*.db
*.tsbuildinfo
/data/
dist/
dogfood-output
node_modules/
poc/
test-results
.claude/ralph-loop.local.md
.worktrees/
.omc
.stitch
drizzle/
schema.generated.ts
